@using System.Timers

@* Add milliseconds *@
<p role="status">Current date time: @currentDateTime.ToString("dd-MM-yyyy HH:mm:ss.fff tt")</p>

@code {
    private DateTime currentDateTime = DateTime.Now;
    private Timer timer;

    protected override void OnInitialized()
    {
        timer = new Timer(1);
        timer.Elapsed += UpdateDateTime;
        timer.AutoReset = true;
        timer.Enabled = true;
    }

    private void UpdateDateTime(Object source, ElapsedEventArgs e)
    {
        currentDateTime = DateTime.Now;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}